{% extends 'base_generic.html' %}

{% block title %}Diceware - generate your passphrase{% endblock %}

{% block content %}
    <div class="container mx-auto py-8 px-6">
        <h1 class="text-3xl font-bold text-center">Diceware Passphrase Generator</h1>
        <h2 class="text-xl font-semibold text-center mt-4">Generate easy to use passwords!</h2>
        <section class="mt-6 text-center">
            <form action="" method="post" class="inline-block">
                {% csrf_token %}
                <table class="table-auto mx-auto">
                    {% for field in form %}
                        <tr>
                            <td class="font-bold py-2">{{ field.label_tag }}</td>
                            <td class="py-2">{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Submit" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            </form>
        </section>

        {% if passphrase %}
            <section class="mt-6 text-center">
                <h3 class="text-xl font-semibold">Your passphrase:</h3>
                <p class="text-lg mb-2 passphrase-text">{{ passphrase }}</p>
                <button onclick="copyPassphraseToClipboard()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Copy</button>
            </section>
        {% endif %}

        {% if error %}
            <section class="mt-6 text-center">
                <h3 class="text-xl font-semibold">Error:</h3>
                <p class="text-lg">{{ error }}</p>
            </section>
        {% endif %}

        <section class="container mx-auto p-8">
            <h1 class="text-3xl font-bold mb-4">What is Diceware: A Secure Passphrase Generation Method</h1>
            <p class="mb-4">In today's interconnected world, online security has become paramount. With cyber threats on the rise, ensuring the protection of our digital identities has never been more critical. One effective way to safeguard our accounts and data is by using strong, unique passphrases. Among the many passphrase generation methods, Diceware stands out as a reliable and secure approach.</p>

            <h2 class="text-2xl font-bold mb-2">What is Diceware?</h2>
            <p class="mb-4">Diceware is a simple yet powerful passphrase generation technique that relies on randomness and simplicity. Created by Arnold G. Reinhold in 1995 (<a class="font-bold text-blue-500 underline" href="https://theworld.com/~reinhold/diceware.html">original Diceware publication</a>), Diceware employs dice to produce unpredictable strings of words that serve as strong passwords. The name <strong>"Diceware"</strong> is derived from the words <b>"dice"</b> and <b>"software."</b></p>

            <h2 class="text-2xl font-bold mb-2">How does Diceware work?</h2>
            <p class="mb-4">The Diceware method involves rolling a regular six-sided dice five times to create a five-digit number. The resulting number corresponds to a word in the Diceware <a class="text-blue-500 font-bold underline" href="https://theworld.com/%7Ereinhold/diceware.wordlist.asc">word list</a>, which contains <b>7,776 unique words</b>. By repeating this process multiple times, users generate a sequence of words that forms their passphrase.</p>

            <h2 class="text-2xl font-bold mb-2">Why is Diceware secure?</h2>
            <p class="mb-4">Diceware's security stems from its randomness and the large number of words in the word list. A five-word Diceware passphrase, for example, offers an incredibly high number of possible combinations, making it exceptionally difficult for attackers to crack through brute-force or dictionary attacks. This significantly enhances the strength of the passphrase compared to traditional passwords.</p>

            <h2 class="text-2xl font-bold mb-2">Advantages of Diceware:</h2>
            <ol class="list-disc ml-6 mb-4">
                <li>Enhanced Security: Diceware passphrases are exceptionally strong and resistant to various hacking methods, providing users with peace of mind.</li>
                <li>Simplicity: The Diceware method is easy to understand and use, making it accessible to individuals with varying technical knowledge.</li>
                <li>No Digital Footprint: Unlike password managers or online passphrase generators, Diceware relies solely on dice rolls, leaving no digital trace that could be vulnerable to hacking.</li>
                <li>Offline Generation: This site is open-source, that means you can download and host this site on your computer! Click <a class="font-bold text-blue-500 underline">here</a> to download this website </li>
                <li>Customizable Length: The number of words in a Diceware passphrase can be adjusted based on specific security needs, providing flexibility to users.</li>
            </ol>

            <h2 class="text-2xl font-bold mb-2">FAQs about Diceware: Enhancing Your Online Security</h2>
            <ol class="list-disc ml-6 mb-4">
                <li><strong>What is Diceware, and how does it work?</strong><br>
                    Diceware is a passphrase generation method that utilizes dice to create strong and secure passwords. Users roll a six-sided dice five times to generate a five-digit number, which corresponds to a unique word in the Diceware word list containing 7,776 words. By stringing together multiple words, users create a passphrase that acts as a robust defense against cyber threats.</li>
                <li><strong>Why should I use Diceware instead of traditional passwords?</strong><br>
                    Unlike traditional passwords, which are often weak and susceptible to hacking, Diceware passphrases offer a higher level of security. The random combination of words in a Diceware passphrase makes it extremely difficult for attackers to crack through brute-force or dictionary attacks, significantly reducing the risk of unauthorized access to your accounts and data.</li>
                <li><strong>How secure are Diceware passphrases?</strong><br>
                    Diceware passphrases are exceptionally secure due to the large number of possible combinations. A five-word Diceware passphrase provides an incredibly high entropy level, making it virtually impossible for attackers to guess or crack the passphrase using common hacking techniques.</li>
                <li><strong>Is Diceware easy to use for individuals with limited technical knowledge?</strong><br>
                    Yes, Diceware is designed to be user-friendly and accessible to individuals with varying technical backgrounds. The method involves simple dice rolls and word lookups, eliminating the need for complex algorithms or software.</li>
                <li><strong>Can I trust Diceware for generating passphrases online?</strong><br>
                    Absolutely! Our service is open-source, which means you can review the code, make your own changes, and even download and host it yourself. This transparency ensures that you can verify the security and randomness of our passphrase generation process. We are committed to providing a trustworthy and reliable tool for enhancing your online security.</li>
                <li><strong>How long should my Diceware passphrase be?</strong><br>
                    The length of your Diceware passphrase depends on your security needs. Generally, longer passphrases are more secure. A passphrase composed of five or more words is considered strong enough for most applications.</li>
                <li><strong>Is it safe to write down my Diceware passphrase?</strong><br>
                    It is generally recommended to avoid writing down passwords. However, Diceware passphrases are an exception to this rule. Since Diceware relies on true randomness, writing down the passphrase and storing it securely, away from your computer or mobile device, can serve as a reliable backup in case you forget it.</li>
                <li><strong>Can I use the same Diceware passphrase for multiple accounts?</strong><br>
                    It is not advisable to reuse passphrases across different accounts. Using unique passphrases for each account enhances security. If one passphrase gets compromised, the others will remain safe.</li>
                <li><strong>Are there any downsides to using Diceware?</strong><br>
                    The primary downside to Diceware is the challenge of memorizing longer passphrases. However, users can mitigate this issue by using a password manager to securely store their Diceware-generated passphrases.</li>
            </ol>
        </section>
    </div>

    <script>
        function copyPassphraseToClipboard() {
            const passphraseText = document.querySelector('.passphrase-text').innerText;
            navigator.clipboard.writeText(passphraseText)
                .then(() => {
                    alert('Passphrase copied to clipboard!');
                })
                .catch((err) => {
                    console.error('Error copying to clipboard: ', err);
                });
        }

        function getCookies(name) {
            const cookieArr = document.cookie.split(';');

            for (let i = 0; i < cookieArr.length; i++) {
                const cookie = cookieArr[i].trim();

                if (cookie.startsWith(name + '=')) {
                    return cookie.substring(name.length + 1);
                }
            }

            return null;
        }

        function loadCookies() {
            const inputList = ['word_count', 'separator', 'capitalize'];

            for (let i = 0; i < inputList.length; i++) {
                const cookie = getCookies(inputList[i]);
                const input = document.querySelector(`#id_${inputList[i]}`);

                if (cookie !== null) {
                    if (input.type === 'checkbox') {
                        input.checked = cookie.toLowerCase() === 'true';
                    } else {
                        input.value = cookie === '""' ? '' : cookie.replaceAll('"', '');
                    }
                }
            }
        }

        window.onload = loadCookies;
    </script>

{% endblock %}
